<!-- SECTION CAROUSEL -->
<section id="showcase">
  <carousel>
    <!-- EXAMPLE to get some images!!
    <slide>
      <img src="https://source.unsplash.com/random/1920x1280/?covid19" alt="first slide"
        style="display: block; width: 100%;">
      <div class="carousel-caption d-md-block">
        <h1 class="display-2">Corona</h1>
        <p class="lead">Covid19</p>
        <a routerLink="/corona" class="btn btn-primary btn-lg">More Info</a>
      </div>
    </slide> -->
    <slide>
      <img src="{{ 'HOME.Carousel-Image1' | translate }}" alt="{{ 'HOME.Carousel-Alt1' | translate }}" style="display: block; width: 100%;">
      <div class="carousel-caption d-md-block">
        <h1 class="display-1">{{ 'HOME.Carousel-Label1' | translate }}</h1>
        <p class="lead">{{ 'HOME.Carousel-Info1' | translate }}</p>
        <a routerLink="{{ 'HOME.Carousel-Link1' | translate }}"
          class="btn btn-primary btn-lg">{{ 'HOME.Carousel-Button1' | translate }}</a>
      </div>
    </slide>
    <slide>
      <img src="{{ 'HOME.Carousel-Image2' | translate }}" alt="{{ 'HOME.Carousel-Alt2' | translate }}" style="display: block; width: 100%;">
      <div class="carousel-caption d-md-block">
        <h1 class="display-1">{{ 'HOME.Carousel-Label2' | translate }}</h1>
        <p class="lead">{{ 'HOME.Carousel-Info2' | translate }}</p>
        <a routerLink="{{ 'HOME.Carousel-Link2' | translate }}"
          class="btn btn-success btn-lg">{{ 'HOME.Carousel-Button2' | translate }}</a>
      </div>
    </slide>
    <slide>
      <img src="{{ 'HOME.Carousel-Image3' | translate }}" alt="{{ 'HOME.Carousel-Alt3' | translate }}" style="display: block; width: 100%;">
      <div class="carousel-caption d-md-block">
        <h1 class="display-1">{{ 'HOME.Carousel-Label3' | translate }}</h1>
        <p class="lead">{{ 'HOME.Carousel-Info3' | translate }}</p>
        <a routerLink="{{ 'HOME.Carousel-Link3' | translate }}"
          class="btn btn-danger btn-lg">{{ 'HOME.Carousel-Button3' | translate }}</a>
      </div>
    </slide>    
    <slide>
      <img src="{{ 'HOME.Carousel-Image4' | translate }}" alt="{{ 'HOME.Carousel-Alt4' | translate }}" style="display: block; width: 100%;">
      <div class="carousel-caption d-md-block">
        <h1 class="display-1">{{ 'HOME.Carousel-Label4' | translate }}</h1>
        <p class="lead">{{ 'HOME.Carousel-Info4' | translate }}</p>
        <a routerLink="{{ 'HOME.Carousel-Link4' | translate }}"
          class="btn btn-info btn-lg">{{ 'HOME.Carousel-Button4' | translate }}</a>
      </div>
    </slide>
  </carousel>
</section>